*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        }

        .container{
            height: 100vh;
            /* width: 100vw; */
            min-width: 412px;
            overflow-x: none;
        }
        nav{
            width: 100%;
            overflow-x: hidden;
        }
        .nav-container{
            width: 100%;
            min-height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: -webkit-sticky;
            position: sticky;
            top: 0.1px;
            background-color: rgb(255, 255, 255);
            border-bottom: 1px solid rgb(255, 161, 9) ;
            border-width: 3px;
        }
        #nav-logo{
            width: 260px;
            height: 60px;
        }
        #nav-list{
            width: 100%;
            font-size: 1.1rem;
            display: flex;
            list-style: none;
            padding-left: 14px;
            padding-right: 14px;
            justify-content: space-between;
            align-items: center;
            
        }
        #nav-list a{
            font-family:'Poppins', sans-serif;
            font-weight: bold;
            text-decoration: none;
            color:rgb(0, 0, 0) ;
        }
        #nav-items{
            display: flex;
            gap: 30px;
        }
         #nav-list a:hover{
            color: #ffb109;
            text-decoration: underline;
        } 
        
        
        #side-bar{
            display: none;
            list-style: none;
            justify-content: flex-start;
            background-color: rgba(255, 161, 9);
            top: 0;
            right: 0;
            flex-direction: column;
            z-index: 999;
            height: 100vh;
            align-items: flex-start; 
            width: 200px;
            position: fixed;
            gap: 30px;
        }
        #side-bar a{
            display: block;
            font-family:'Poppins', sans-serif;
            font-weight: bold;
            text-decoration: none;
            color:rgb(0, 0, 0) ;
            height: 40px;
            padding-top: 13px;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
        }
        #side-bar a:hover
        {
            background-color: #077125;
            color: #fff;
        }
        #side-bar li{
            padding-left: 30px;
            padding-top: 10px;
            gap: 30px;
        }
        #side-bar-logo {
            display: none;
        }.footer{
            flex-wrap: wrap;
            background-color: #333;
        }
        .footer-container{
            padding-top: 50px;
            display: flex;
            /* height: 500px; */
            color: #fff;
            /* padding-left: 30px; */
            /* margin: 20px; */
            padding-right: 30px;
            font-family:'Poppins', sans-serif ;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 1.3rem;
        }
        @media(max-width:785px){   
            #nav-items{
                display: none;
                }  
            #nav-list{
                position:relative;
            }
            #nav-logo{
                justify-content: center;
                    /* margin-left: 27vw;
                margin-right: 27vw; */
            }
            #side-bar-logo{
               display: block;
            }
        }
        .order-page
        {
            width: 100%;
        }
        .order-title
        {
            font-size: 1.5em;
            padding-top: 30px;
            text-align: center;
        }
        .title-descp
        {
            font-size: 1.1em;
            margin-top: 20px;
            text-align: center;
            margin-left: 60px;
            margin-right: 60px;
        }
        .ordersection{
            padding-top: 50px;
            padding-bottom: 70px;
            display: flex;
            margin-left: 40px;
            margin-right: 40px;
            justify-content:space-between;
            flex-wrap: wrap;
        }
        .order-descp{
            width:45%;
        }
        .button-group
        {
            border:none;
            padding: 10px;
            border-radius: 25px;
            background-color:#077125;
            color: #fff;
            font-weight:600;
            margin:0px 15px 30px 15px;
            height: 50px;
            width:200px;
            font-size:medium ;
            transition: 0.3s ease;
        }
        .button-group:hover
        {
            background-color: #ffb109;
            color:#333;
            box-shadow: 0 14px 28px rgba(0, 0,0,0.03 ), 0 10px 10px rgba(0,0,0,0.29);

        }
        #order-type2{
            font-size: 1.2rem;
            display: none;
        }
        #order-type2 p{
            padding-bottom: 20px;
            font-size: 1.2rem;
            font-weight:18px ;
            line-height: 1.6;
            font-weight: 300;
            margin-top: 22px;
        }
        #order-type1{
            padding-bottom: 20px;
            font-size: 1.2rem;
            font-weight:18px ;
            line-height: 1.6;
            font-weight: 300;
            margin-top: 22px;
            line-height: 30px;

        }
        #order-type1 p{
            padding-bottom: 20px;

        }
        ul{
            padding-left: 30px;
        }
        .order-form {
        /* text-align: center; */
        /* width: 100%;/ */
        padding-left: 40px;
       }
       .form-title
       {
        padding-left: 30px;
        text-align: left;
        font-size: large;
       }
       .form-group
       {
        margin: 25px;
        display: flex;
       }
       .form-group label
       {
        /* margin-right: 50px; */
        width:30%
       }
       input{
        width: 300px;
        padding: 12px;
        border: none;
        background-color: #cdc8c8;
        border-radius: 10px;
       }
       input:active{
        background-color: #fff;
        color: #333;
       }
       input:focus,input:focus,select:focus
       {
        outline: none;
        border-left: 2px solid #ffb109;
        border-bottom: 2px solid #ffb109;
        background-color: #f5f5f5;
       }
       input:hover,textarea:hover,select:hover
       {
            border-color: #077125;
       }
       select
       {
        padding: 12px;
        width: 300px;
        padding: 12px;
        border: none;
        background-color: #cdc8c8;
        border-radius: 10px;
        font-size: 15px;
       }
       .sbmt-button
       {
        width:75px;
        height: 40px;
        margin:0px 0px 10px 30px;
        font-size:larger;
        border: none;
        background-color:#ffb109;
        border-radius: 5px;
       }
       .sbmt-button:hover
       {
        box-shadow: 0px 14px 50px rgba(215, 178, 13, 0.718)
       }
       @media screen and (max-width:994px)
       {
        .order-descp
        {
            width: 100%;
        }
        .order-form
        {
            width: 100%;
        }
        .form-group label
        {
            width: 25%;
        }
        .form-group input,.form-group select
        {
            width: 75%;
        }
        .form-title{
            padding-top: 30px;
        }
       }
    .footer{
            flex-wrap: wrap;
            background-color: #333;
        }
        .footer-container{
            padding-top: 50px;
            display: flex;
            /* height: 500px; */
            color: #fff;
            /* padding-left: 30px; */
            /* margin: 20px; */
            padding-right: 30px;
            font-family:'Poppins', sans-serif ;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 1.3rem;
        }
        .footer-panel{
            width: 370px;
            overflow: hidden;
            padding-left: 30px;
        }
        .footer-panel li{
            padding-left: 30px;
            padding-top: 20px;
            gap: 50px;
        }
        .footer-panel img{
            width: 100%;
        }
        .footer-panel a
        {
            color: #fff;
            text-decoration: none;
        }
        .footer-panel a:hover{
            color: #ffb109;
            text-decoration: underline;
        }
        #footer-button
        {
            display: block;
            padding: 10px;
            width: 150px;
            height: 50px;
            border-radius: 13px;
            background-color: #54ed12df;
            text-align: center;
            padding-top: 13px;
            text-decoration: none;
            color:white;
            margin-top: 20px;
            margin-bottom: 20px;
            /* border-color:1px solid white; */
        }
        #footer-button:hover
        {
            background-color: #077125;
            color: #fff;
        }
        .bottom-footer
        {
            height: 40px;
            width: 100%;
            background-color: #fff;
            color: black;  
            text-align: center;
            font-size: 1.5em; 
            font-family:'Poppins', sans-serif  ; 
        }